<h2>Cursus overzicht</h2>
<ngx-datatable [rows]="rows"
               [columns]="columns"
               [limit]="5"
               [rowHeight]="'auto'"
               [headerHeight]="50"
               [footerHeight]="50"
               [columnMode]="'force'" class="material course-table">
  <ngx-datatable-column name="Cursus code">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="gotoLesson(row.id)"
             >
              {{row.curcode}}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Cursus naam">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="gotoLesson(row.id)"
            >
              {{row.curname}}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Begin tijd" [width]="100" [maxWidth]="100">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="gotoLesson(row.id)"
            >
              {{row.start}}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Eind tijd" [width]="100" [maxWidth]="100">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="gotoLesson(row.id)"
            >
              {{row.stop}}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Groep">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="gotoLesson(row.id)"
            >
              {{row.group}}
            </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Lokaal" >
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="gotoLesson(row.id)"
            >
              {{row.room}}
            </span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
