form, h1{
  padding: 10px;
}
button:link, button:visited {
  background-color: #0f55bd;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: -12px;
}

button:hover, button:active {
  background-color: #4288f0;
}
.example-full-width {
  width: 100%;
}
.container {
  margin: 0 auto;
  padding-top: 40px;
  width: 1140px;
}
button{
  position: absolute;
  right: 21%;
}
