.login-card {
  margin: 0 auto;
  width: 480px;

  .mat-card-title {
    font-size: 24px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
}

.login-wrapper {
  padding-top: 100px;
}
md-toolbar{
  font-size: 17px;
}
