<div class="login-wrapper">
  <md-card class="login-card">
    <md-card-header>
      <md-card-title>Hubs - Login</md-card-title>
    </md-card-header>
    <md-card-content>
      <form #f="ngForm" (ngSubmit)="login(f)">
        <md-toolbar class="loginToolbar" class="md-medium-toolbar" color="warn" *ngIf="isFormSubmit">
          <span *ngIf="nietLeeg">Gebruikersnaam of Wachtwoord is leeg</span>
          <span *ngIf="nietJuist">Gebruikersnaam of Wachtwoord is niet juist</span>
        </md-toolbar>
        <md-input-container class="full-width">
          <input mdInput placeholder="Gebruikersnaam"  name="username" ngModel #username="ngModel">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Wachtwoord" type="password"  name="password" ngModel #password="ngModel">
        </md-input-container>
        <div>
          <button md-button>Login</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
