@import '~@angular/material/theming';

.navbar {
    background-color: #0D47A1;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: #fff;
    min-height: 65px;
    ul {
      list-style: none;
      padding: 20px 15px;
      padding-left: 200px;
      margin: 0;

      li {
        float: left;
        margin-left: 25px;
      }
      p{
        float: right;
        margin-top: 0px;
      }
    }
}
a:link, a:visited {
  background-color: #0f55bd;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: -12px;
}

a:hover, a:active {
  background-color: #4288f0;
}
