.container {
  margin: 0 auto;
  padding-top: 40px;
  width: 1140px;
}

.lesson-overview {
  .class {
    margin-bottom: 25px;
  }

  .table {
    tr {
      td {
        &:nth-child(2) {
          padding-left: 12px;
        }
      }
    }
  }

  .message {
    margin-bottom: 25px;

    span {
      color: #fff;
    }
  }
  .grades{
    float: left;
    width: 100%;
  }
  .information{
    width: 100%;
    float: left;
  }
  .studentinformation{
    float: left;
  }
  .counselorinformtion{
    float: right;
  }
}
